server:
  port: 8080

spring:
  security:
    oauth2:
      client:
        provider:
          keycloak:
            # Keycloak 발급자(iss)와 정확히 일치
            issuer-uri: http://ron-site.iptime.org/realms/test
        registration:
          keycloak:
            client-id: gateway
            client-secret: wD4qqEdBqRRjrACnZugb9Rq8ZCvJeXWh
            authorization-grant-type: authorization_code
            scope: openid, profile

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: message-route
              uri: http://localhost:8081
              predicates:
                - Path=/message/**
              filters:
#                - StripPrefix=1
              metadata:
                cors:
                  allowedOrigins:
                    - http://localhost:3000
                  allowedMethods:
                    - GET
                    - POST
                    - PUT
                    - DELETE
                    - OPTIONS
                  allowedHeaders:
                    - '*'
                  allowCredentials: true
                  maxAge: 3600
