server:
  port: 8080

spring:
  security:
    oauth2:
      client:
        provider:
          keycloak:
            # Keycloak 발급자(iss)와 정확히 일치
            issuer-uri: http://ron-site.iptime.org/realms/test
        registration:
          keycloak:
            client-id: gateway
            client-secret: wD4qqEdBqRRjrACnZugb9Rq8ZCvJeXWh
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/keycloak"
            scope: openid, profile

  cloud:
    gateway:
      server:
        webflux:

          globalcors:
            add-to-simple-url-handler-mapping: true
            cors-configurations:
              '[/**]':
                allowed-origins: "http://localhost:5173"
                allowed-methods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                  - OPTIONS
                allowed-headers: "*"
                exposed-headers:
                  - Authorization
                  - Content-Type
                allow-credentials: true
                max-age: 3600

          # ✅ 중복 제거 + (선택) 항상 응답 헤더 보강
          default-filters:
            - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
            # 필요 시 아래 라인을 추가: 모든 응답에 ACAO/ACAC를 강제 부착
            - AddResponseHeader=Access-Control-Allow-Origin, http://localhost:5173
            - AddResponseHeader=Access-Control-Allow-Credentials, true


          routes:
            - id: message-route
              uri: http://localhost:8081
              predicates:
                - Path=/message/**
              filters:
#                - StripPrefix=1
              metadata:
                cors:
                  allowedOrigins:
                    - http://localhost:5173
                  allowedMethods:
                    - GET
                    - POST
                    - PUT
                    - DELETE
                    - OPTIONS
                  allowedHeaders:
                    - '*'
                  allowCredentials: true
                  maxAge: 3600


